:root {
  --main-color: #407bff;
  --link-color: #666666;
  --text1: #999999;
  --highligth-text: #333333;
  --input-text: #555555;
  --white-color: #FFFFFF;
  --point-list: #CCCCCC;
  --line-input: #D9D9D9;
  --main-font: "Poppins", sans-serif;
  --main-font-regular: "Poppins-Regular";
  --main-font-bold: "Poppins-Bold"
      --default--line: 1.2;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: var(--main-font);
}

input,
button {
  outline: none !important;
  border: none;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

.focus-input-form::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.6s;
  background-color: var(--main-color);
}

.error.focus-input-form::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.6s;
  background-color: red;
}

.focus-input-form::after {
  content: attr(data-placeholder);
  font-family: var(--main-font);
  line-height: var(--default--line);
  color: var(--text1);
  font-size: 18px;
  display: block;
  position: absolute;
  width: 100%;
  top: 15px;
  left: 0px;
  padding-left: 5px;
  transition: all 0.4s;
  pointer-events: none;
}

.input-form:focus + .focus-input-form::after {
  top: -20px;
  font-size: 15px;
}

.input-form:focus + .focus-input-form::before {
  width: 100%;
}

.input-form:focus + .focus-input-form::before {
  width: 100%;
}

.has-val.input-form + .focus-input-form::after {
  top: -20px;
  font-size: 15px;
}

.has-val.input-form + .focus-input-form::before {
  width: 100%;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}

.margin-top-35 {
  margin-top: 35px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-top-8 {
  margin-top: 8px;
}

.margin-left-50 {
  margin-left: 50px;
}

.login {
  width: 100%;
  margin: 0 auto;
}
.login .container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  padding: 15px;
  background-color: var(--white-color);
}
.login .container-login .wrap-login {
  width: 370px;
  background-color: var(--white-color);
  margin-right: 50px;
}
.login .container-login .wrap-login .login-form {
  width: 100%;
}
.login .container-login .wrap-login .login-form .login-form-title {
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: var(--highligth-text);
  font-family: var(--main-font-bold);
  line-height: var(--default--line);
}
.login .container-login .wrap-login .login-form .texthidden {
  display: none;
}
.login .container-login .wrap-login .login-form .visible.texthidden {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 112px;
  font-size: 12px;
  font-family: var(--main-font);
  color: red;
}
.login .container-login .wrap-login .login-form .wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid var(--line-input);
}
.login .container-login .wrap-login .login-form .wrap-input .input-form {
  display: block;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 52px;
  background: transparent;
  padding: 0 15px;
  font-family: var(--main-font);
  color: var(--input-text);
  line-height: var(--default--line);
}
.login .container-login .wrap-login .login-form .wrap-input .input-form .focus-input-form {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.login .container-login .wrap-login .container-login-form-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .container-login .wrap-login .container-login-form-btn .enable {
  pointer-events: inherit !important;
}
.login .container-login .wrap-login .container-login-form-btn .block {
  pointer-events: none !important;
}
.login .container-login .wrap-login .container-login-form-btn .login-form-btn {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: var(--default--line);
  font-family: var(--main-font);
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 5px;
  transition: all 0.4s;
}
.login .container-login .wrap-login .container-login-form-btn .login-form-btn:hover {
  background-color: var(--input-text);
}
.login .container-login .wrap-login .login-utils {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.login .container-login .wrap-login .login-utils .forget {
  font-size: 15px;
  line-height: var(--default--line);
  font-family: var(--main-font);
  color: var(--input-text);
  text-decoration: none;
  letter-spacing: 1px;
}
.login .container-login .wrap-login .login-utils .forget--link {
  color: var(--main-color);
}
.login .container-login .wrap-login .login-utils .new-account {
  font-size: 15px;
  line-height: var(--default--line);
  font-family: var(--main-font);
  color: var(--input-text);
  text-decoration: none;
  letter-spacing: 1px;
}
.login .container-login .wrap-login .login-utils .new-account--link {
  color: var(--main-color);
}/*# sourceMappingURL=style.css.map */