/* Variaveis */

:root {
    --main-color: #407bff;
    --link-color: #666666;
    --text1: #999999;
    --highligth-text: #333333;
    --input-text: #555555;
    --white-color: #FFFFFF;
    --point-list: #CCCCCC;
    --line-input: #D9D9D9;
    --main-font: 'Poppins', sans-serif;
    --main-font-regular: 'Poppins-Regular';
    --main-font-bold: 'Poppins-Bold'
        --default--line: 1.2;
}

/* Formatação Pagina */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: var(--main-font);
}

input, button {
    outline: none !important;
    border: none;
}
ul, li{
    margin: 0px;
    list-style-type: none;
}

button:hover {
    cursor: pointer;
}

/* Efeitos dos inputs */

.focus-input-form::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background-color: var(--main-color);
}

.focus-input-form::after {
    content: attr(data-placeholder);
    font-family: var(--main-font);
    line-height: var(--default--line);
    color: var(--text1);
    font-size: 18px;
    display: block;
    position: absolute;
    width: 100%;
    top: 15px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
    pointer-events: none;
}

.input-form:focus +.focus-input-form::after{
    top: -20px;
    font-size: 15px;
}

.input-form:focus + .focus-input-form::before {
    width: 100%;
}

.input-form:focus + .focus-input-form::before {
    width: 100%;
}

.has-val.input-form + .focus-input-form::after {
    top: -20px;
    font-size: 15px;
}
  
.has-val.input-form + .focus-input-form::before {
    width: 100%;
}

/* Login Utils */

.Login-Utils {

    .forget {
        font-size: 15px;
        font-family: var(--main-font);
        color: var(--main-color);
        line-height: var(--default--line);
        font-family: var(--main-font-regular);
    }

    .new-account {
        font-size: 15px;
        font-family: var(--main-font);
        color: var(--main-color);
        line-height: var(--default--line);
        font-family: var(--main-font-regular);
    }
}

/* Margins HTML */

.margin-bottom-35 {
    margin-bottom: 35px;
  }
  
  .margin-top-35 {
    margin-top: 35px;
  }
  
  .margin-bottom-8 {
    margin-bottom: 8px;
  }
  
  .margin-top-8 {
    margin-top: 8px;
  }
  
  .margin-left-50 {
    margin-left: 50px;
  }

/* Login */

.login {
    width: 100%;
    margin: 0 auto;

    .container-login {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100vh;
        padding: 15px;
        background-color: var(--white-color);


        .wrap-login {
            width: 370px;
            margin-right: 50px;
            background-color: var(--white-color);

            /* Formulario */

            .login-form {
                width: 100%;

                .login-form-title {
                    display: block;
                    text-align: center;
                    font-size: 40px;
                    font-weight: 700;
                    color: var(--highligth-text);
                    font-family: var(--main-font-bold);
                    line-height: var(--default--line);
                }

                .wrap-input {
                    width: 100%;
                    position: relative;
                    border-bottom: 2px solid var(--line-input);

                    .input-form {
                        display: block;
                        font-size: 19px;
                        font-weight: 400;
                        width: 100%;
                        height: 52px;
                        background: transparent;
                        padding: 0 5px;
                        font-family: var(--main-font);
                        color: var(--input-text);
                        line-height: var(--default--line);

                        .focus-input-form {
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }
}
